body {
  background-color: #f5f5f5;
  margin-top: 125px;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1030;
}

#submitFormFlight {
  margin: auto;
}

.bi {
  margin-right: 5px;
}

df-messenger {
  --df-messenger-bot-message: #0d6efd;
  --df-messenger-button-titlebar-color: #0d6efd;
  --df-messenger-chat-background-color: #e3f0ff;
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #0d6efd;
  --df-messenger-user-message: #20c997;
}

.button {
  display: block;
  height: 50px;
  width: 100px;
  text-align: center;
  background: #0d6efd;
  font-size: 1em;
  border: 2px solid #0d6efd;
  border-radius: 50px;
  color: white;
  transition: all 0.5s ease;
}

.loader {
  font-size: 0;
  height: 60px;
  width: 60px;
  background: transparent;
  border: 4px solid #0d6efd;
  border-radius: 50%;
  border-top-color: transparent;
  animation: animate 1s 0.4s linear infinite;
}

@keyframes animate {
  100% {
      transform: rotate(360deg);
  }
}

#banner {
  width: 50%;
  height: auto;
  margin: auto;
}