<footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2022 </p>
        <br>
        <p>Travens AI for Compfest 14</p>
        <p>
            Made with
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
            by <a href="https://braincore.id/" class="text-white fw-bold">Braincore</a>
        </p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5 mb-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>
</footer>