<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body>

    {% include 'includes/navbar.html' %}

    <div class="empty-4-6 container mx-auto d-flex align-items-center justify-content-center flex-column">
        <img class="main-img" src="/static/img/500.png" alt="" width="200px">

        <div class="text-center">
            <h1 class="title-text">
                Opss! Something is not working
            </h1>
            <p class="title-caption">
                We are overloading now. Please try again later.
            </p>
            <div class="d-flex justify-content-center">
                <a href="/" class="btn mb-3 btn-back d-inline-flex text-white">
                    Back to Homepage
                </a>
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

</body>

</html>