<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body>
    {% include 'includes/navbar.html' %}

    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8 p-3">
                <img src="/static/img/twitter_account.png" alt="Twitter-Account" width="100">
                <h3>User Account</h3>
                <p>Analyze the sentiment from any official user account in the tourism industry
                    to get new insights.</p>

                <form id="#formUser" action="/sentiment-analysis/user" method="POST">
                    <div class="row justify-content-center text-center p-5">
                        <label class="mb-2">Enter username without '@'</label>
                        <br>
                        <div class="col-lg-10">
                            <div class="input-group mb-3">
                                <input type="text" name="username" class="form-control"
                                    placeholder="Kemenparekraf, IndonesiaGaruda, or someone else">
                            </div>
                            <div class="row justify-content-center text-center">
                                <div class="col-lg-6 mt-3 mb-3">
                                    <input class="btn button mt-3" type="submit" value="Search" id="submitFormUser">
                                </div>
                            </div>            
                        </div>
                    </div>
                </form>

            </div>

            {% if text %}
            <h3 class="p-3">Result for {{ text }}</h3>
            {% endif %}

            {% if wordcloud_plot %}
            <div class="col-sm-6 py-3">
                <img src="{{ wordcloud_plot }}.png" id="wordcloud" alt="WordCloud">
            </div>
            {% endif %}

            {% if sentiment_countplot %}
            <div class="col-sm-6 py-3">
                <img src="{{ sentiment_countplot }}.png" id="wordcloud" alt="Sentiment-Countplot">
            </div>
            {% endif %}

            {% if word_embedding %}
            <div class="col-sm-6 py-3">
                <img src="{{ word_embedding }}.png" id="wordcloud" alt="Sentiment-Countplot">
            </div>
            {% endif %}

            <div class="table-responsive-sm p-3">

                {% if no_topic %}
                <h3>{{ no_topic }}</h3>
                {% endif %}

                {{ table | safe }}
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}
</body>

</html>